<h1><%= @character.name %>'s Blueprints</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ME</th>
      <th>PE</th>
      <th>Build Cost</th>
      <th>Sell Price</th>
      <th>Profit</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @character_blueprints.each do |character_blueprint| %>
      <tr>
        <td><%= link_to character_blueprint.blueprint_name, character_blueprint_path(@character, character_blueprint) %></td>
        <td><%= character_blueprint.material_efficiency %></td>
        <td><%= character_blueprint.production_efficiency %></td>
        <td><%= number_to_currency character_blueprint.build_cost %></td>
        <td><%= number_to_currency character_blueprint.sell_price %></td>
        <td class=<%= character_blueprint.profitable? ? 'loss' : 'gain'%>><%= number_to_currency character_blueprint.profit %></td>
        <td><%= link_to 'Edit', edit_character_blueprint_path(@character, character_blueprint) %></td>
        <td><%= link_to 'Remove', character_blueprint_path(@character, character_blueprint), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Add Blueprint', new_character_blueprint_path, method: :get, class: "btn" %>
